# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws

# Logs
*.log

.env

# OS
.DS_Store
Thumbs.db
api-gateway/.gitattributes
*.properties
api-gateway/mvnw
*.cmd
*.md
microservices-auth/mvnw
service-registry/.gitattributes
service-registry/mvnw
test-methods-service/.gitattributes
test-methods-service/mvnw
/.idea
.idea/misc.xml
